body {
    background-color: blanchedalmond;
}

div {
    background-color: aqua;
}

nav {
    background-color: whitesmoke;
}

#attendence-section {
    background-color: blue;
}

h2 ~ p {
    font-size: large;
}