/* This part is for divs and background colors */
body {
    background-color: skyblue;
}

.content {
    background-color: whitesmoke;
    padding-block-start: 0.5cm;
    padding-block-end: 1cm;
}


/* This Part is the Text  */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    background-position: 0cm;
    margin: 5 5 5 5;
    position: relative;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4ex;
    margin: 0 0 0 0;
    text-align: center;
}

section.big {
    background-color: aliceblue;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

/* Change the link color on hover */
li a:hover {
    background-color: grey;
    color: white;
}


/* combinator  */

li:first-of-type+li {
    color: blueviolet;
}

p~span {
    background-color: red;
}